<div heading="Select Image" class=".hidden-print">
  <div class="panel panel-primary topbuffer">
    <div class="panel-heading">
      <a href="" class="pull-right bg-primary" (click)="needHelp()"><span>How do I use this&nbsp;</span><i class="fa fa-question-circle"></i></a>
      <h4>Select an Image</h4>
    </div>
    <div class="panel-body">
      <upload-image
        class="col-md-12 mainPanel"
        data-context="source" data-aspect-ratio="aspectRatio"
        [imageDataUrl]="sourceImageDataUri"></upload-image>

    </div>
  </div>
</div>
